// sass rules for the sia website

$color-siagreen: rgb(0, 203, 160)
$color-background: rgb(26, 26, 26)

$primary-font: "Roboto", sans-serif
$size-3: 50px
$size-5: 24px

$primary: $color-background
$background: $color-background

$family-primary: $primary-font

.hero.is-primary.connected-world
	background-color: $color-background
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/connectedworld.jpg")


.title-highlight
	color: $color-siagreen

.getstarted-button
	background-color: $color-background !important

@import "bulma/bulma.sass"
